@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Great+Vibes&family=Nunito:wght@300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.right{
    text-align: right;
}

.vertical-align{
    vertical-align: bottom;
}

.social-icons{
    padding-right: 20px;
}

.social-icons img{
    padding: 0 5px;
}

.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.white{
    color: #eee;
}

.carousel-item{
    background-color: rgb(150, 115, 133);
    height: 400px;
}

.carousel-item .carousel-item-text{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
}

.font{
    font-size: 50px;
}

.center{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.font-style{
    color: orange;
    font-family: "Great Vibes", Sans-serif;
}

.font-style2{
    font-family: "Arvo", Sans-serif;
    line-height: 50px;
}

.text-style{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.bottom-padding{
    padding-bottom: 25px;
}

.img-padding{
    padding-bottom: 20px;
}

.borderlink{
    padding: 12px 20px;
    border: solid 2px orange;
    border-radius: 3px;
}

.col-12 .bottom-padding::first-letter{
    color: orange;
    font-size: 25px;
}

body{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #222;
}

header{
    background-color: #23160c;
    opacity: 0.9;
    color: #eee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

header nav a{
    text-decoration: none;
    color: #ddb99d;
    padding: 10px;
}

header nav a:hover{
    border-bottom: solid 4px #ddb99d;
    color: #eee;
}

h3{
    letter-spacing: 3px;
}

@media screen and (max-width:991px) {
    .logo{
        display: none;
    }
    
    .flex-nav{
        flex-direction: column;
    }

    .flex-nav a{
        display: flex;
        justify-content: center;
    }

    .navbar-toggler{
        color: #ddb99d;
        border-color: #ddb99d;
    }

    .navbar-toggler-icon{
        background-image: url(/img/bars-solid.svg);
    }    
}